
html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top:0;
  bottom:20;
  left:0;
  right:0;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  top:50%;
  align-items: left;
  flex: 0.9;
}

.idMapEditor {
  display: flex;
  flex-direction: column; 
}

li {
  outline: 2px solid black;
  border-radius: 25px;
  margin-top: 50px;
  text-indent: 2%;
  height: 100px;
  flex-shrink: 0;
  line-height: 100px;
}

