
html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top:0;
  bottom:20;
  left:0;
  right:0;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  top:50%;
  align-items: left;
  flex: 0.9;
}

.idMapEditor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 40px;
}

.idMapEditor #title {
  font-weight: 500;
}

.idMapEditor #subTitle {
  margin-top: 10px; /* Apply spacing between child elements */
}

.idMapEditor #nameForm {
  
  margin-top: 10px;
}

.idMapEditor #submit {
  margin-top: 20px;
}

li {
  outline: 2px solid black;
  border-radius: 25px;
  margin-top: 50px;
  text-indent: 2%;
  height: 100px;
  flex-shrink: 0;
  line-height: 100px;
}

.liDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.bar {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-shrink: 20;
  width: 80%;
}

.percent{
  margin-right: 20px;
}

.foodName{
  margin-left: 20px;
}

