/*This defines the height and width of the app*/
html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

/*This is the main container for the app*/
.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top:0;
  bottom:20;
  left:0;
  right:0;
  justify-content: space-between;
}

/*Container for all data bars (entries for each food item that displays the food name and the estimated percent left of it)*/
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  top:50%;
  align-items: left;
  flex: 0.9;
}

/*This defines the style of the elements for changing food names 
(the dropdown menu, the text box, the submit button, and the label on top)*/ 
.idMapEditor {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 40px;
}

/*The label on top of the elements for changing food names ("Give Food Item A Name")*/
.idMapEditor #title {
  font-weight: 500;
}

/*The subTitle above the dropdown menu for selecting which food id you would like to change the name of ("ID Number")*/
.idMapEditor #subTitle {
  margin-top: 10px; /* Apply spacing between child elements */
}

/*The text box for inputting the new food name*/
.idMapEditor #nameForm {
  
  margin-top: 10px;
}

/*The submit button*/
.idMapEditor #submit {
  margin-top: 20px;
}

/*Style for each individual data bar (entry that displays the food name and the estimated percent left of it)*/
li {
  outline: 2px solid black;
  border-radius: 25px;
  margin-top: 50px;
  text-indent: 2%;
  height: 100px;
  flex-shrink: 0;
  line-height: 100px;
}

/*Style for a div put inside each data bar/li element*/
.liDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

/*Style for the progess bar itself (within each data bar/li element)*/
.bar {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-shrink: 20;
  width: 80%;
}

/*Style for the label that shows the esimated percent left of a food item as text to the right of the progress bar*/
.percent{
  margin-right: 20px;
}

/*Style for the labe that shows the food name (or food id# if it has not yet been given a name) to the left of the progress bar*/
.foodName{
  margin-left: 20px;
  white-space: nowrap; /* Prevent text from wrapping when there is a space in the food name */
}

/*Style for the submit button*/
.button {
  background-color: #4CAF50;
}

